<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>About Tech Central</title>
</head>
<body>
<div class="container">
  <h1>About Us</h1>
  <p>Welcome to Tech Central - your one-stop shop for top-quality computer components and systems. Our mission is to provide tech enthusiasts and professionals with the best selection of parts and expertly crafted computers. From processors to peripherals, we've got everything you need to build or upgrade your perfect setup. Dedicated to outstanding customer service, we're here to help you make informed decisions about your tech purchases.</p>
  <a href="/mainscreen" class="btn btn-primary">Back to Main Screen</a>
</div>
</body>
</html>
