<!--After Part G-->
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Outsourced Part Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Outsourced Part Detail</h1>
    <form th:action="@{/showFormAddOutPart}" th:object="${outsourcedpart}" method="POST">
        <input type="hidden" th:field="*{id}"/>

        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" placeholder="Name" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" id="price" th:field="*{price}" placeholder="Price" class="form-control"/>
            <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</p>
        </div>

        <div class="form-group">
            <label for="inv">Inventory:</label>
            <input type="number" id="inv" th:field="*{inv}" placeholder="Inventory" class="form-control"/>
            <div th:if="${#fields.hasErrors('inv')}" th:errors="*{inv}" class="alert alert-danger"></div>
        </div>


        <div class="form-group">
            <label for="companyName">Company Name:</label>
            <input type="text" id="companyName" th:field="*{companyName}" placeholder="Company Name" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="minInv">Minimum Inventory:</label>
            <input type="number" id="minInv" th:field="*{minInv}" placeholder="Minimum Inventory" class="form-control"/>
            <div th:if="${#fields.hasErrors('minInv')}" th:errors="*{minInv}" class="alert alert-danger"></div>
        </div>

        <div class="form-group">
            <label for="maxInv">Maximum Inventory:</label>
            <input type="number" id="maxInv" th:field="*{maxInv}" placeholder="Maximum Inventory" class="form-control"/>
            <div th:if="${#fields.hasErrors('maxInv')}" th:errors="*{maxInv}" class="alert alert-danger"></div>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <a href="/">Link to Main Screen</a>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>